################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWAD classes/SWAD classes/SWAD classes.csproj
